{% extends 'app/app-base.html' %}
{% load static %}

{% block customHeader %}
<style>
  .ratio-display {
    display: flex;
    height: 90px;
    width: 100%;
  }

  .ratio-display > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .ratio-display > div > span {
    font-size: 1.3rem;
  }

  .ratio-display > div > span:first-child {
    font-size: 2.3rem;
    font-weight: bold;
  }
</style>`
{% endblock %}

{% block content %}
<div class="row mb-4">
  <div class="col-12 col-md-4">
    <div class="card">
      <div class="card-header">
        <div class="card-title">Parameter Pengujian</div>
      </div>
      <div class="card-body">
        <form method="GET">
          {% csrf_token %}
          <div class="mb-3">
            <label>Ukuran Data Uji</label>
            <div class="input-group">
              <input 
                value="{{ test_ratio }}"
                type="number" min="10" max="90" 
                name="test_ratio" 
                class="form-control" required />
              <span class="input-group-text">
                %
              </span>
            </div>
          </div>
          <button type="submit" class="btn btn-primary w-100">
            ulangi pengujian
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row mb-4">
  <div class="col-12 col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title">Hasil Pengujian</div>
      </div>
      <div class="card-body">

        <div class="text-white ratio-display" >
          <div class="bg-success" style="flex-basis: {{display.n_test}}%;">
            <span>{{ display.n_test }}%</span>
            <span>Data Uji</span>
          </div>
          <div class="bg-primary" style="flex-basis: {{display.n_train}}%;">
            <span>{{ display.n_train }}</span>
            <span>Data Latih</span>
          </div>
        </div>
      </div>
      <div>
        <table class="table table-v-center card-table">
          <thead>
            <tr>
              <th></th>
              <th>Akurasi</th>
              <th>Error Rate</th>
            </tr>
          </thead>
          <tbody>
            {% for item in results %}
              <tr>
                <td>
                  {{ forloop.counter }}
                </td>
                <td>
                  {{ item.acc|floatformat:2 }}
                </td>
                <td>
                  {{ item.err_rate|floatformat:2 }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}